<html>
<head>
	<title>Admin Login Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Welcome to fgCaptcha Project</h1>
	<div class = "combine">
		<div>
			<img class = "admin" src="Admin.png">
		</div>
		<div>
			<form>
				<p style = "text-align: center">Admin LOGIN Form</p>
				<pre> Admin Name  <input type = "text" name = "admin name" width = "100" placeholder = "admin name"></pre>
				<pre> Password    <input type = "password" name = "password" placeholder = "password"></pre>
				<p align = "center"><button type = "button" class = "btn btn-success">Login</button></p>
			</form>
		</div>
	</div>
</body>