{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Adminlogin{% endblock %}
​
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
 {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
    <div id = "login">
        <div id = "title"><h1>Discussion Forum</h1></div>
        <div id = "input">
    <form action="done">
    <!-- {% csrf_token %} -->
            <label for="id_username">Username:</label>{{ form.username }}
            <label for="id_password">Password:</label>{{ form.password }}
            <br><p>Please select the real image below.</p>
        <input type="submit" value="Login" />
        <!-- <input type="hidden" name="next" value="/home" /> -->
    </form>
</div>
    </div>
    <a href="/register">Register</a>
​
{% endblock %}