<html>
<head>
	<title>User Login Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Welcome to fgCaptcha Project</h1>
	<div class = "combine">
		<div>
			<img class = "admin" src="User.png">
		</div>
		<div>
			<form>
				<p style = "text-align: center">User LOGIN Form</p>
				<pre> User Name   <input type = "text" name = "admin name" width = "100" placeholder = "user name"></pre>
				<pre> Password    <input type = "password" name = "password" placeholder = "password"></pre>
				<p align = "center"><input type = "submit" name = "adminValues" value = "Login"></p>
			</form>
		</div>
	</div>
</body>